<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mascotas</title>
</head>
<body>
    <div class="container">
        <h3>   Listade de mascotas   </h3>
        <table border="5">
            <tr>
                <th>Tipo_mascota</th>
                <th>Nombre</th>
                <th>Sexo</th>
                <th>Edad</th>
                <th>Nombre_clinica_veterinaria</th>
            </tr>
            <tr th:each = "mascota: ${listaAtributosMascotas}">
                <td th:text="${mascota.tipo_mascota}"></td>
                <td th:text="${mascota.nombre}"></td>
                <td th:text="${mascota.sexo}"></td>
                <td th:text="${mascota.edad}"></td>
                <td th:text="${mascota.nombre_clinica_veterinaria}"></td>
            </tr>
        </table>
    </div>

</body>
</html>