<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- ul>li*3>a:link -->
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="#">Saludo</a></li>
    </ul>
    <div>
        <label>Nombre</label>
        <input type="text" name="fullname" id="fullname">
    </div>
    <div>
        <label>Correo</label>
        <input type="email" name="user_email" id="user_email">
    </div>
  </body>
</html>