<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehiculos</title>
</head>
<body>
    <div class="container">
        <h3>   Lista de vehiculos   </h3>
        <table border="5">
            <tr>
                <th>Tipo_vehiculo</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Color</th>
            </tr>
            <tr th:each = "vehiculo: ${listaAtributosVehiculo}">
                <td th:text="${vehiculo.tipo_vehiculo}"></td>
                <td th:text="${vehiculo.marca}"></td>
                <td th:text="${vehiculo.modelo}"></td>
                <td th:text="${vehiculo.color}"></td>
            </tr>
        </table>
    </div>

</body>
</html>